h1 {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 28px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: -0.1px;
    color: #414141;
}
h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #1d1d1d;
}
h3 {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: 0.3px;
    color: #414141;
}
h4 {
    font-family: 'Rubik', sans-serif;
    font-size: 19px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.79;
    letter-spacing: 0.6px;
    color: #414141;
}
h5 {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #414141;
}
p.Navigation {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    /*text-align: center;*/
    color: #646464;
}
p.Paragraph {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #414141;
}
p.caption {
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
}
p.Body1 {
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.47;
    letter-spacing: normal;
    color: #414141;
}
p.Body2 {
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #646464;
}

p.Body3 {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #646464;
}

@media only screen and (min-width: 430px){
    h1 {
        font-family: 'Frank Ruhl Libre', serif;
        font-size: 44px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.2px;
        color: #414141;
    }
    h2 {
        font-family: 'Rubik', sans-serif;
        font-size: 32px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.44;
        letter-spacing: normal;
    }
    h3 {
        font-family: 'Frank Ruhl Libre', serif;
        font-size: 30px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.27;
        letter-spacing: 0.4px;
        color: #414141;
    }
    h4 {
        font-family: 'Rubik', sans-serif;
        font-size: 22px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #414141;
    }
    p.Navigation {
        font-family: 'Rubik', sans-serif;
        font-size: 13px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.3px;
        text-align: center;
    }
}


@media only screen and (min-width: 1020px){
    h1 {
        font-family: 'Frank Ruhl Libre', serif;
        font-size: 44px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.2px;
        color: #414141;
    }
    h2 {
        font-family: 'Rubik', sans-serif;
        font-size: 32px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.44;
        letter-spacing: normal;
    }
    h3 {
        font-family: 'Frank Ruhl Libre', serif;
        font-size: 30px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.27;
        letter-spacing: 0.4px;
        color: #414141;
    }
    h4 {
        font-family: 'Rubik', sans-serif;
        font-size: 22px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #414141;
    }
    p.Navigation {
        font-family: 'Rubik', sans-serif;
        font-size: 13px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.3px;
        text-align: center;
    }
}
